extends layout

block content
  h1= title
  p Welcome to #{title}
  
  p A TCG / Neutral Production
  
  p This image is built just as a trigger
  
  img(src='./images/weyland.jpg')
  
  p A Weyland-Yutani (tm) Company
  