extends layout

block content
  h2= title

  h3 Copilot Example
  
  img(src='./images/weyland.jpg')
  
  p By 2137, Weyland-Yutani was heavily involved in the colonization of extrasolar planets and moons, including the terraforming of suitable bodies with inhospitable atmospheres through the construction of Atmosphere Processing Plants. Over its history, the company constructed and administrated numerous colonies across the galaxy.
  
  ul
    li Deep space transport
    li Synthetic manufacture
    li Terraforming
    li Extrasolar colonization
    li Weapons manufacture
    li Xenomorph procurement and research
