extends layout

block content
  h2= title
  
  h3 Copilot Example
  
  img(src='./images/weyland.jpg')
  
  h3 Names from Postgres database:

  ul
    each row in names
      li= row.name + ' has ID: ' + row.id